/* This is a dumb rule...just a place-holder for the file for now. */
#answers li {
  margin-bottom: 1rem;
}

#restart.hide {
  display: none;
}

#restart.show {
  display: block;
}

#treasure {
  list-style-type: none;
}

#treasure img {
  width: 1.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
}

#treasure div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
